@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";
.about-us{
    background-color:$white;
    .header{
        background-color: $dark-blue; 
        padding-top: 190px;
        padding-bottom: 105px; 
        h2{
            color: #fff;
            font-size: 63px;
            font-weight: 100;
            span{
                color:$green;
            }
        } 
        .home-heading>*{
            font-size: 63px;
            font-weight: 100;
            text-align: center;
            color: #fff;
        }
    }
    .headline{
        h3{
            font-size: 42px;
            font-weight: 100;
            margin-bottom: 40px;
            margin-top: 70px;
            color:$black-text;
        }
        .headline-heading>*{
            font-size: 42px;
            font-weight: 100;
            margin-bottom: 40px;
            margin-top: 70px;
            text-align: center;
            color: $black-text;
        }
        p{
            color:$grey-text;
            font-size: 17px;
            font-weight: 100;
            margin-bottom: 110px;
        }
    }
    .comprehensive-process{
        padding: 40px 15px;
        h3,.comprehensive-process-heading>*{
            position: absolute;
            top: 50%;
            margin: 0;
            transform: translate(0%,-50%);
            font-weight: 100;
            font-size: 40px;
            color:$black-text;
            span{
                color:$green;
            }
        }
        ul{
            li{
                color: $grey-text;
                font-size: 27px;
                font-weight: 100;
                padding: 10px 0px;
            }
        }
    }
    .over-hidden{
        overflow:hidden; 
        margin:0px;
    }
    #team-member-outer{
        width:200%;
        float:left;
        overflow:hidden;
        #all-team-members,#single-team-member{
            width:50%;
            float:left;
        }
        #all-team-members{
            z-index: 1;
            background-color: $white;
            overflow: hidden;
        }
        #single-team-member{
            z-index: 2;
            background-color: $white;
            opacity: 1;
            height: auto;
            position: fixed;
            top: 80px;
            right: 80px;
            left: 100%;
            bottom: 0;
            margin: 0;
            width: 100%;
            overflow-y: auto;
        }
    }
    .team-list{
        padding-bottom: 80px;
        h3{
            margin-top: 60px;
            font-size: 40px;
            font-weight: 100;
            margin-bottom: 50px;
            color:$black-text; 
        }
        .single-employee{
            margin-bottom: 30px;
            overflow: hidden;
            .inner-div{
                border:1px solid #b8babc;
                h4{
                    margin: 10px 0px 3px 15px;
                    color:$black-text; 
                    span{
                        padding:0px 15px;;
                        color: #002d62;
                        cursor: pointer;
                    }
                }
                p{
                    margin: 0px 0px 2px 15px;
                    color: $grey-text;
                    font-weight: 100;
                    font-size: 15px;
                }
            }
            .employee-details{ 
                position: absolute;
                top: 0;
                background: #f5f8fa;
                left: 16px;
                right: 16px;
                top: 1px;
                bottom: 1px;
                display:none;
                overflow:hidden;
                .employee-header{
                    position: relative;
                    width: 100%;
                    float: left;
                    border-bottom: 1px solid #b8babc;
                    padding-left: 15px;
                    h4{
                        margin-bottom: 5px;
                    }
                    h5{
                        margin-top: 0;
                        color: $grey-text;
                    }
                    .close{
                        top: 0px;
                        position: absolute;
                        right: 8px;
                        color: $dark-blue;
                        opacity: 1;
                        font-size: 36px;
                        font-weight: 400;
                        outline: none;
                    }
                }
                .employee-body{
                    width: 100%;
                    float: left;
                    padding: 15px;
                    word-wrap: break-word;
                    p{
                        font-size: 14px;
                        margin: 0;
                        color: $grey-text;
                    }
                }
                .employee-footer{
                    width: 100%;
                    float: left;
                    position: absolute;
                    bottom: 0px;
                    padding: 20px 0px;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 800;
                    background-color:#f5f8fa;
                    a{
                        color: $dark-blue;
                        cursor:pointer;
                        &:hover,&:focus{
                            text-decoration: none;
                            color:#01142a;
                        }
                    }
                }
            }
        }
    }
    .our-mission{
        background-color: $navy-blue;
        padding: 70px 15px;
        h3,.our-mission-heading>*{
            position: absolute;
            top: 50%;
            margin: 0;
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
            font-weight: 100;
            font-size: 40px;
            color: $white;
            span{
                color: $green;
            }
        }
        h4,.our-mission-description>*{
            color: $white;
            font-size:28px;
            font-weight: 100;
            line-height: 40px;
        }
        .our-mission-description{
            ul{
                text-align: left;
            }
        }
    }
    .questions{
        padding: 70px 15px;
        h2,.questions-heading{
            font-size: 45px;
            font-weight: 100;
            margin-top: 0;
            color:$black-text;
        }
        span{
            font-size: 45px;
            font-weight: 100;
            display: block;
            font-weight: 800;
            color: $dark-blue;
            a{
                color: $dark-blue;
            }
        }
        .warrior-img{
            margin-top: 10px;
        }
    }
    .relative{
        position: relative;
    }
    .static{
        position: static;
    }
    hr{
        border-top: 1px solid #d7d8d9;
    }
    @media screen and (max-width: 768px) {
        padding:0px;
        &>.row{
            margin: 0;
        }
        .header{
            padding-top: 110px;
            padding-bottom: 55px;
            h2,.home-heading > *{
                font-size: 45px;
            }
        }
        .headline{
            h3{
                font-size: 35px;
            }
            p{
                margin-bottom: 20px;
            }
        }
        .comprehensive-process{
            padding: 10px 0px;
            h3,.comprehensive-process-heading>*{
                position: static;
                margin-top: 0;
                transform: none;
                font-size: 35px;
            }
            ul{
                margin-top: 15px;
                padding-left: 20px;
                li{
                    font-size: 20px;
                    padding: 0px 0px;
                }
            }
        }
        .team-list{
            padding:30px 0;
            h3{
                margin-top: 10px;
                font-size: 32px;
                margin-bottom: 30px;
            }
            .single-employee{
                margin-bottom: 15px;
                .inner-div .img-responsive{
                    margin: auto;
                }
                .employee-footer{
                    & > div:nth-child(1){
                        text-align: right;
                    }
                    & > div:nth-child(2){
                        text-align: left;
                    }
                }
            }
        }
        .our-mission{
            padding:30px 0;
            h3,.our-mission-heading>*{
                position: static;
                margin-top: 0;
                transform: none;
                text-align: center;
                font-size: 35px;
                line-height: 1;
            }
            h4,.our-mission-description>*{
                font-size: 20px;
                line-height: 30px;
                text-align: center;
            }
            .static{
                margin-bottom: 20px;
            }
        }
        .questions{
            padding:30px 0;
            h2,span,.questions-heading>*{
                font-size: 35px;
                line-height: 1;
                margin-bottom: 5px;
            }
            .cta{
                margin-bottom: 20px;
                .questions-heading{
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.full-bio{
    background-color:$white;
    padding: 0px 15px 50px 15px;
    a{
        display: block;
        cursor: pointer;
        text-decoration:none;
        font-size:15px;
        &.back-arrow{
            color:$dark-blue;
            padding: 30px 15px;
            font-weight: bold;
            span{
                margin-right: 10px;
            } 
            &:hover,&:focus,&:active{
                text-decoration: none;
                outline: 0;
            }
        }
    } 
    h1{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .contact-options{
        a{
            color: $black-text;
            display:inline-block;
            padding: 10px;
            font-size: 24px;
        }
    }
} 
@media screen and (max-width: 768px) {
    .about-us #team-member-outer .full-bio{
        padding:0px;
    }
    .full-bio a.back-arrow{
        padding:30px 0px;
    }
    .about-us #team-member-outer #single-team-member{
        top: 62px;
    }
}
@media screen and (max-width: 767px) {
    .about-us #single-team-member .col-sm-3,.about-us #single-team-member .col-sm-9{
        padding:10px 0px;
    }
}