@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss"; 

.blue-bar{
    background-color: $dark-blue;
    @media screen and (max-width:992px){
        height: 125px;
    }
    @media screen and (min-width:992px){
        height: 80px;
    }
    @media screen and (max-width:768px){
        height: 62px;
    }
}
.resources{
    background-color: $white;
    border-bottom: 1px solid $dark-grey-border;
    padding: 40px 0;
    padding-bottom: 60px;
    min-height: 577px;
}
.over-hidden{
    overflow:hidden;
    float:left;
    width:100%;
    #resources-outer{
        width:300%;
        float:left;
        #all-resources,#all-resources-topics,#single-resources-topic{
            width:33.333333%;
            float:left;
            overflow: hidden;
        }
        #all-resources{
            z-index: 1;
        }
        #all-resources-topics{
            z-index: 2;
            background-color: $white;
        }
        #single-resources-topic{
            z-index: 3;
            background-color: $white;
        }
        #append-resources-topics{
            width:100%;
            float:left;
            margin-left: -25px;
            margin-right: -25px;
            @media screen and (max-width:768px){
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}
.all-resources-box{
    margin-left: -30px;
    margin-right: -30px;
    @media screen and (max-width:768px){
        margin-left: 0px;
        margin-right: 0px;
    }
}
.resources-box,.resources-topics{
    text-align: left;
    border:1px solid $dark-grey-border;
    border-radius: 4px;
    overflow: hidden;
    position:relative;
    margin: 15px 10px;
    margin-bottom:20px;
    cursor:pointer;
    &:hover{
        box-shadow: 1px 4px 10px 1px rgba(2, 2, 2, 0.28);
    }
    .resources-img{
        margin: auto;
        text-align: center;
        /*background-image: url('https://placeholdit.imgix.net/~text?txtsize=16&txt=resources&w=253&h=140');*/
        height: 146px;
        background-size: cover;
        background-position: center center;
        position: relative;
        h3{
                text-align: center;
                margin: 0;
                color: $white;
                /*font-size: 26px;*/
                line-height: 1.25;
                position: absolute;
                width: 100%;
                padding: 0px 10px;
            }
    }
    .resources-category{
        text-align: center; 
        height: 70px;
        padding: 12px 10px;
        h3{
            font-size: 15px;
            margin-top: 15px;
            text-transform: uppercase;
        }
    }
    .btn-white{ 
        width: 100%;
        border:none;
        border-top:1px solid $dark-grey-border;
        text-transform: uppercase;
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }
    @media screen and (max-width:992px){
        margin: 15px 0;
    }
    &:hover{
        box-shadow: 1px 4px 10px 1px rgba(2, 2, 2, 0.28);
        .btn-white{
            background-color: $green;
            color: $white;
        }
    }
}
a{
    cursor: pointer;
    text-decoration:none;
    font-size:15px;
    &.back-resources,&.back-categories{
        color:$dark-blue;
        padding:0px;
        .services-arrow-left{
            margin-right: 10px;
        } 
        #categoryName{
            text-transform: capitalize;
        }
        &:hover,&:focus,&:active{
            text-decoration: none;
            outline: 0;
        } 
    }
}
.resources-single-category{ 
    background-color: $white;
    padding: 40px 0px;
    border-bottom: 1px solid $dark-grey-border;
    min-height: 577px;
    padding-bottom: 60px;
    a{
        &.back-resources,&.back-categories{
            display: block;
        }
    }
}
.resources-single-topic{
    background-color: $white;
    padding: 40px 0;
    border-bottom: 1px solid $dark-grey-border;
    padding-bottom: 60px;
    min-height: 577px;
    .single-topic-content{
        margin-top: 30px;
        margin-bottom: 30px;
        p.helpful-links{
            color:$dark-blue;
            font-weight: bold;
            margin-bottom: 0;
        }
        ul.files-list{
            float: left;
            padding-left: 20px;
            li{
                a{
                    color:$dark-blue;
                    &:hover,&:focus{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.services-loader{
    color: #444444;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    font-size: 13px;
    display:none;
    transform: translate(-50%,-50%);
}
.service-open-slide{
    .services-loader{
        display:block;
    }
    .resources-box{
        opacity:0.6;   
    }
    .resources-topics{
        opacity:0.6;   
    }
}