@import "../app.scss";
@import "dashboard.scss";

/* header start*/
.client{


    #header {
        background-color: #fff;
        .account-setup-header {
            border-bottom: 1px solid #000;
            padding: 15px 0;
            .header-logo {
                width: 101px;
                height: 50px;
                float: left;
                background: black;
                margin-right: 35px;
                img {
                    width: 101px;
                    height: 50px;
                    float: left;
                    background: black;
                }
            }

            p {
                margin: 0;
                padding: 13px;
                color: #022f63;
                font-weight: 500; 
            }
        }
    }
    /* header end*/

    /* upper body content start
    step 1
    stepOne
    basic info started
    
    */

    #body-content {
        background-color: #fff;
        .right-bottom-border {
            border-bottom: 3px solid rgb(226, 226, 226);
        }
        .left-bottom-border {
            border-bottom: 3px solid rgb(61, 155, 233);
        }
        .content-head {
            padding: 16px 0;
            margin-bottom: -3px;
            margin-top: 0;
            color: #364153;
        }
        .inner-content {
            width: 33%;
            margin: auto;
            text-align: center;
            margin-top: 70px;
            .form-group {
                margin-bottom: 10px;
            }
            .heading-info{
                margin-bottom: 35px;
                color: #b2b2b2;
                font-weight: 100;
                padding-top: 0;
                font-size: 18px;
            }
        }
        .content-heading {
            color: #6d7582;
        }

        .password-head {
            margin-bottom: 140px;
        }
        .password-head, .basic-information-content  {

            .common {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid  #95989a;
                box-shadow: none;
                color: #c0c1c2;
                font-size: 15px;
                padding: 0;
                font-weight: 100;
                padding-top: 8px;

            }
        }
        .terms-services {
            margin-top:5px;
            i {
                font-size: 13px;
                font-weight:100;
                a{
                    text-decoration: underline;
                }
            }

        }

    }

    /* upper body content end
    step1 completed*/

    /* step 1
    stepTwo
    contact info start*/
    #content-information {
        .first-name, .m-i, .last-name, .first-address, .last-address, .city, .s-t, .zip-code, .phone {
            border: none;
            border-bottom: 2px solid rgb(235, 235, 235);
            box-shadow: none;
            border-radius: 0;
            font-size: 17px;
            font-weight: 100;
            padding-bottom: 0;
            p{
                color: red;
            }
        }
        .first-err, .city-err {
            width: 40%;
            float: left;
            margin-right: 18px;
            padding: 8px 0; 
            .first-name{
                width: 100%;
            }
            p{
                margin-bottom:0;
                color:red;
            }
        }
        .mi-err, .st-err {
            width: 11%;
            float: left;
            margin-right: 18px;
            padding: 9px 0; 

            .m-i {
                width: 100%;
            }
            p {
                margin-bottom: 0;
            }
        }

        .last-err, .zip-code-err {
            width: 40%;
            float: left;
            padding: 9px 0; 
            .last-name{
                width: 100%;
            }
            p {
                margin-bottom: 0;
            }
        }
        .first-address-err, .last-address-err {
            width: 100%;
            float: left;
            padding: 9px 0; 
            .first-address {
                width: 100%;
            }
            p {
                margin-bottom: 0;
            }
        }
        .phone-err {
            width: 56%;
            float: left;
            margin-bottom: 18px;
            padding: 9px 0; 
            .phone {
                width: 100%;
            } 
            p {
                margin-bottom: 0;
            }
        }
        .mobile-btn-err {
            width: 25%;
            float: left;
            margin-left: 30px;
            margin-right: 40px;
            .mobile-button{
                color: black;
                background-color: white;
                width: 100%;
                font-size: 14px;
                border-color: transparent;
                p {
                    margin-bottom: 0;
                }
            } 
        }
        .submit-btn {
            width: 100%;
            float: left;


        }
    }
    /* step 2 end*/

    /* button submitted*/
    #button-color{
        .contact-info-button {
            margin-top: 9px;
            background: #1688e5;
            width: 220px;
            color: #fff;
            padding: 7px 0;
            font-size: 17px;
            & .contact-info-button:hover {
                color: #fff;
                background-color: #1688e5;
                border-color: #1688e5;
                color:#fff;
            }
        }
    }
    /*
    step 2
    formThree
    mobile verification start
    */

    #Verify-Mobile-Number {
        margin-bottom: 40px;
        .mobile-number {
            width: 60%;
            float: left;
            .mobile-textbox {
                border: none;
                border-bottom: 2px solid #ebebeb;
                border-radius: 0;
                box-shadow: none;
                font-weight: 100;
                margin-bottom: 30px; 
                padding-left: 0;
                padding-bottom: 0;
            }
        }
        .send-code {
            width: 40%;
            float: left;
            .send-code-button {
                width: 80%;
                background-color: white;
                color: #6897cf;
                border: 1px solid #6897cf;
                font-size: 10px;
                font-weight: bold;
            }
        }
        .verify-inner-content {
            width: 85%;
            float: left;
            font-size: 13px;
            font-weight: 100;
            padding-bottom: 7px;
            p {
                padding-bottom: 20px;

            }
        }
        .submit-btn {
            padding-bottom: 6px;
        }

    }
    .skip {
        font-size: 12px;
        margin-top: 10px;
    }

    /* mobile verification end*/

    /*
    step 3
    stepFour
    About You started
    */

    #about-you { 
        .social-security {
            width: 100%;
            float: left;
            margin-bottom: 15px;
            .social-security-number {
                border: none;
                border-bottom: 2px solid #ebebeb;
                border-radius: 0;
                box-shadow: none;
                font-size: 17px;
                padding: 20px 0;
                font-weight: 100;
                padding-bottom: 5px;
            }
        }
        .about-radio {
            float: left;
            margin-left: 0;
            text-align: left;
            width: 100%;
            margin-bottom: 41px;
            input[type="radio"] {
                margin-right: 10px;
            }
        }
    }
    /*
    step 3
    stepFive
    #about you questionnaire 
    */

    #about-you-questionnaire {
        .content-p-b {
            padding-top: 74px;
            padding-bottom: 180px;
            color: #454f60;
        } 
    }
    /*
    */

    /*
    step 4
    stepSix
    finshing up
    */
    #finishing-up {
        color: #b2b2b2;
        padding-top:140px;
        .finishing-content {
            font-weight: 300;
        }
    }
    .dashboard {
        float: right;
        padding-top: 100px;
        padding-bottom: 10px;
        a {
            color: #b2b2b2;
            &:hover {
                text-decoration: none;
            }
        }
    }
}



/*
dashboard page started
*/
.dashboard {
    #dashboard-content {
        .service-outer {
            padding-right: 40px;
            .service-name {
                float: left;
                background-color: #1688e5;
                width: 100%;
                color: white;
                padding: 40px 0 40px 20px;
            }
        }
    }
}