@import "../app.scss";

#dashboard-content{
    & > .container-fluid {
        padding:0;
    }   
}

.client-sidebar{
    width:7%;
    float:left;
    background: $dashboard-sidebar;
    color: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .site-logo{
        text-align: center;
        padding: 10px 0;
        img{
            width: 75%;
        }
    }
    ul{
        li{
            text-align: center;
            padding: 15px 0;
            font-size: 12px;
            a{
                .icon{
                    display: block;
                    font-size: 25px;
                }
                color: $white; 
                text-decoration:none;
            }
        }
        li.active{
            background-color: #1688e5;
            cursor: pointer;
        }
    }
}

.client-header{
    padding: 20px 40px;
    border-bottom: 1px solid #f4f4f4;
    .heading{

    }
    .actions-list{
        margin: 0;
        #header-search{
            border: 0;
            background: inherit;
            &:focus{
                outline:none;
            }
        }
        &+i{
            cursor: pointer;
        }
        li{
            padding: 0 15px;
        }
        .dropdown{
            a{
                color: $text-color; 
                text-decoration:none;
                .fa-angle-down{
                    vertical-align: middle;
                }
            }
            .dropdown-menu{
                margin-top: 21px;
                border-radius: 0;
                right: 0;
                left: auto;
                width: 210px;
                padding: 10px 0;
                border: 1px solid rgba(244, 244, 244, 0.15);
                li{
                    padding:0;
                    font-size: 16px;
                    a{
                        padding: 7px 10px;
                        i{
                            margin-right: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.noti-red{
    height:9px;
    width:9px;
    border-radius:50%;
    background: rgb(255, 4, 4);
    display: inline-block;
    box-shadow: 0 0px 6px 4px rgba(255,4,4,0.3);
    vertical-align: top;
    margin-left: -10px;
    margin-top: 3px;
}

.right-content{
    width:93%;
    float:left;
    background: $white;
    float: right;
    padding-bottom: 50px;
    .products-list{
        padding: 40px 40px 60px;
    }
    .service-outer:nth-of-type(1){
        padding-left:0;
    }
    .service-outer:nth-of-type(4){
        padding-right:0 !important;
    }
}

.dashboard-inner2{
    padding-left: 40px;
    padding-right: 0;
}
.dashboard-inner2-right{
    padding-right: 40px;
    padding-left: 0;
}
#my-tasks-list{
    background: $box-back-light-green;
    padding: 30px 30px 0 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-right: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    ul{
        li{
            padding: 10px 0;
            border-bottom: 1px solid $dashboard-border-color;
            font-size: 14px;
            span{
                float: right;
                color: #73b7ee;
                &.red{
                    color: #fa6d6e;
                }
            }
        }
    }
}

#commentry{
    background: $box-back-light-green;
    padding: 30px 30px 0 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-left: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .comment{
        float: left;
        border-bottom: 1px solid #e3e7ea;
        margin-bottom: 15px;
        padding-bottom: 5px;
        position: relative;
        .date{
            color: #73b7ee;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 15px;
        }
        .title{
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        .desc{
            font-size: 14px;
            width: 95%;
            float: left;
        }
        .arrow{
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            right: 0;
            width: 5%;
            height: 25px;
            text-align: center;
            color: $text-color;
        }
    }
}

#document-activity{
    background: $box-back-light-green;
    padding: 30px 30px 0 30px;
    margin-bottom: 20px;
    width: calc(100% - 15px);
    margin-right: 15px;
    float: left;
    h2{
        font-size: 20px;
        margin-top: 0;
        border-bottom: 1px solid $dashboard-border-color;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .document{
        float: left;
        width: 100%;
        margin-top: 5px;
        .image{
            width: 8%;
            float: left;
            font-size: 30px;
            color: #fa6d6e;
        }
        .details{
            float:left;
            .title{
                margin-top: 12px;
                margin-bottom: 0px;
                font-weight: bold;
            }
            ul{
                font-size: 11px;
                li{
                    &:after{
                        content:'\00B7';
                        font-size: 20px;
                        line-height: 11px;
                        vertical-align: sub;
                        margin-left: 10px;
                    }
                    &:last-child:after{
                        content:'';
                        display:none;
                    }
                }
            }
        }
    }
}