.btn-white{
    @extend .btn;
    background-color:  $white;
    color: $green;
    padding: 8px 14px;
    cursor:pointer;
    border-radius:0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    outline:none;
    border: 1px solid $white;
    &:hover, &:focus, &:active{
        background-color:  $green;
        color: $white;
        outline:none;
    }
}
.btn-green{
    @extend .btn;
    background-color: $green;
    color: $white;
    padding: 8px 14px;
    cursor:pointer;
    border-radius:0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    outline:none;
    border: 1px solid $green;
    &:hover, &:focus, &:active{
        color: $white;
        outline:none;
    }
}
.btn-white-bordered{
    @extend .btn;
    background-color: transparent;
    color: $white;
    padding: 8px 14px;
    cursor:pointer;
    border-radius:0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    outline:none;
    border: 1px solid $white;
    &:hover, &:focus, &:active{
        color: $white;
        outline:none;
    }
}

.absolute-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.graphics{
    background-image: url('../../img/graphics.png');
    width:40px;
    height: 40px;
    background-size: 195px 90px;
}
.arrow-right{
    @extend .graphics;
    background-position: 82px -39px;
    width: 36px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.services-arrow-left{
    @extend .graphics;
    background-position: 82px -21px;
    width: 36px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.blog-arrow-left{
    @extend .graphics;
    background-position: 0px -25px;
    width: 34px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}
.blog-arrow-right{
    @extend .graphics;
    background-position: -31px -25px;
    width: 34px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}
#twpm{
    font-family: 'Lato',sans-serif;
    font-weight: 400; 
    font-size: 16px;
}

.black-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $white;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/*icons*/
.facebook-icon{
    @extend .graphics;
    background-position: 115px 0px;
    display: inline-block;
    height: 19px;
    width: 17px;
}
.twitter-icon{
    @extend .graphics;
    background-position: 99px 2px;
    display: inline-block;
    height: 19px;
    width: 17px;
}
.flag-icon{
    @extend .graphics;
    background-position: 172px 1px;
    width: 35px;
    background-size: 173px 77px;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.overtop-icon{
    @extend .graphics;
    background-position: 131px 1px;
    width: 20px;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.users-icon{
    @extend .graphics;
    background-position: 154px 1px;
    width: 25px;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.login,.reset-password,.register{
    margin-top: 50px;
}

/*page-transitions*/
/*.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pt-page{
    display: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all;
    transition-duration: 0.7s;
}

.page-current {
    visibility: visible;
    display: block;
    z-index: 2;
    transition: all;
    transition-duration: 0.7s;
}

.pt-page-moveFromRightFade {
    -webkit-animation: moveFromRightFade .7s ease both;
    animation: moveFromRightFade .7s ease both;
}

.pt-page-moveToLeftFade {
    -webkit-animation: moveToLeftFade .7s ease both;
    animation: moveToLeftFade .7s ease both;
}
.pt-page-fade {
    -webkit-animation: fade .7s ease both;
    animation: fade .7s ease both;
}
.pt-page-moveFromLeftFade {
    -webkit-animation: moveFromLeftFade .7s ease both;
    animation: moveFromLeftFade .7s ease both;
}

.pt-page-moveToRightFade {
    -webkit-animation: moveToRightFade .7s ease both;
    animation: moveToRightFade .7s ease both;
}


@-webkit-keyframes fade {
    from { }
    to { opacity: 0.3; }
}
@keyframes fade {
    from { }
    to { opacity: 0.3; }
}

@-webkit-keyframes moveToRightFade {
    from {}
    to {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveToRightFade {
    from {}
    to {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveFromRightFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveFromRightFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveToLeftFade {
    from {}
    to {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveToLeftFade {
    from {}
    to {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromLeftFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveFromLeftFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}*/
/*page-transitions-end*/
/*Contact modal*/
#get-started-modal{
    .modal-dialog{
        position: absolute;
        left: 50%;
        margin: 0;
        @media screen and (min-width:767px){
            top: 50%;
            transform: translate(-50%, -50%);
            width: 660px;
        }
        @media screen and (max-width:768px){ 
            top: 0;
            transform: translate(-50%, 0);
            width: 400px; 
            margin: 14px 0;
        }
        @media screen and (max-width:440px){
            width: calc(100% - 30px);
            margin: 14px 0;
        }
    }
    .modal-content{
        border-radius: 0;
    }
    .modal-body{
        overflow: hidden;
        width: 100%;
        h3{
            text-align: center;
        }
        .left-side{
            padding: 0;
            color: $grey-text;
            .call, .offices, .chat{
                padding: 0;
                margin: 5px 0;
                overflow: hidden;
            }
            .icon{
                width:100px;
                float: left;
                font-size: 12px;
                text-transform: uppercase;
                text-align:center;
                span{
                    font-size: 26px;
                    /*@extend .graphics;*/
                    display: block;
                    color:$black-text;
                }
            }
            p{
                float: left;
                max-width: calc(100% - 150px);
                margin: 14px 30px 14px 20px;
                font-size: 12px;
                line-height: 1.25;
                span{
                    display: block;
                }
                @media screen and (max-width:440px){
                    font-size: 12px;
                    max-width: calc(100% - 110px);
                    margin: 14px 0;
                }
            }
            a{
                float: left;
                max-width: calc(100% - 150px);
                margin: 14px 30px 14px 20px;
                padding: 6px 14px;
                font-size: 13px;
                width: 100%;
                border-radius: 4px;
                @media screen and (max-width:440px){
                    max-width: calc(100% - 110px);
                    margin: 14px 0;
                }
            }
            .call{
                p{
                    span{
                        color: $black-text;
                        font-size: 22px;
                        @media screen and (max-width:440px){
                            font-size: 17px;
                        }
                        a{
                            @media screen and (max-width:440px){
                                color: $black-text;
                                display: block;
                                font-size: 17px;
                                margin: 0;
                                padding: 0;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
            .offices{
                p{
                    color:$black-text;
                    padding: 5px 0;
                }
            }
            @media screen and (max-width:768px){
                padding-left: 15px;
                padding-left: 15px;
                margin-bottom: 20px;
            }
        }
    }
    .close{
        margin-right: 8px;
        margin-top: 2px;
    }
    .contact-form{
        .select-option{
            color: $grey-text;
        }
        .input-group, .form-control{
            &:focus, &:active{
                border-color: $dark-grey-border;
                outline: 0;
                box-shadow: none;
            }
        }
        .form-control{
            border-radius: 0;
            outline: 0;
        }
        .select-type{
            color: $grey-text;
        }
    }
    .right-side{
        padding-top:10px;
        padding-left: 15px;
        overflow: hidden;
        .btn-green{
            font-size: 13px;
            margin: 10px 0 50px 0px;
            border-radius: 4px
        }
        .contact-response p{
            padding: 78px 0;
            font-size: 20px;
            color: #1bd41b;
        }
        @media screen and (min-width:768px){
            border-left: 1px solid $dark-grey-border;
            padding-left: 30px;
        }
    }
}
/*END*/