#footer{
    text-align: center;
    background-color: $white;
    padding-bottom: 30px;
    color:$grey-text;
    @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-links{
        @extend .list-inline;
        margin: 20px 0;  
        li{ 
            border-right:1px solid $black-text;
            line-height: 15px;
            padding: 0 10px;
            a{
                text-decoration: none;
                color:$grey-text;
                font-size: 13px;
                span{
                    margin-left: 5px;
                    &.facebook-icon{
                        background-position: 102px -2px;
                        display: inline-block;
                        height: 15px;
                        width: 14px;
                        background-size: 175px 77px;
                        vertical-align: bottom;
                    }
                    &.twitter-icon{
                        background-position: 99px -3px;
                        display: inline-block;
                        height: 14px;
                        width: 15px;
                        vertical-align: bottom;
                    }
                }
            }
            &:last-child{
                border-right: none;
            }
        }
    }
    .footer-text{
        font-size: 12px;
        margin: 0;
        line-height: 1.4;
    }
    h5{
        margin-bottom: 20px;
    }
}

