.home-navbar{
    color:$white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:10;
    padding: 14px 0 14px 0;
    border-radius: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    .navbar-brand{
        padding:0;
        margin: 0!important;
        cursor: pointer;
    }
    .logo-img{
        float: left;
        width: 140px;
        margin-top: -5px;
    }
    #frontend-navbar-collapse {
        text-align: center;
    }
    .navbar-nav{
        display: inline-block;
        float:none;
    }
    ul{ 
        &.navbar-nav{ 
            li{
                margin: 0 15px;
                a{
                    padding: 15px 0 5px 0px;
                    font-size: 16px;
                    border-bottom: 2px solid transparent;
                    &:active,&:hover{
                        border-bottom: 2px solid $white;
                    }
                    &:focus{
                        background-color: transparent;
                    }
                }
                &.active{
                    a{
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
        &.login-links{
            @extend .list-inline;
            position: absolute;
            right: 40px;
            top: 10px;
            li{
                line-height: 1;
                &:first-child{
                    border-right: 1px solid $white;
                }
                a{
                    font-size: 13px;
                }
            }
        }
        li{
            a{
                color:$white;
                cursor: pointer;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.83);
                text-decoration:none;
                &:hover{
                    background: transparent;
                }
            } 
        }
    }
    .navbar-right{
        li{
            display:inline-block;
            font-size: 13px;
            margin-top: 0px; 
            a{
                padding:0px 10px;
                border-right: 2px solid $white;
                &:focus{
                    background-color: transparent;
                }
                @media screen and (max-width: 768px) {
                    padding:0px 15px;
                }
            }
            &:last-child{
                a{
                    border-right: 0;
                }
            } 
        }
    }
    @media screen and (max-width: 768px) {
        background-color: $dark-blue;
        padding: 5px 0px;
        #frontend-navbar-collapse{
            border: 0;
            box-shadow: none;
        }
        ul{
            &.navbar-nav{
                li{
                    text-align: left;
                    a{
                        display: inline-block;
                        border-bottom: 2px solid transparent;
                    }
                }
            }
            &.navbar-right{
                text-align: left;
                margin-bottom: 15px;
            }
        }
        .navbar-header{
            .navbar-toggle{
                margin-bottom: 0;
                margin-top: 5px;
                .icon-bar{
                    width: 26px;
                    height: 4px;
                    border-radius: 1px;
                    background-color: $white;
                    border: 1px solid $dark-blue;
                }
            }
        }
        .logo-img{
            margin-left: 15px;
            margin-top: 2px;
            width: 98px;
        }
    }
    @media screen and (max-width: 767px) {
        ul{
            width:100%;
            float:left;
        }
    }
}
.blue-nav{
    background-color: $dark-blue;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}